* {
  margin: 0;
}

.home_screen {
  display: flex;
}

.screen {
  display: flex;
}

a:link {
  text-decoration: none;
  color: #000;
}

/* visited link */
a:visited {
  text-decoration: none;
  color: #000;
}

/* mouse over link */
a:hover {
  text-decoration: none;
  color: #000;
}

/* selected link */
a:active {
  text-decoration: none;
  color: #000;
}

.page__header__arrow__left {
  border-right: 2px solid lightgrey;
  margin-right: 20px;
  height: 70px;
}
